# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Test directory
/testdata/coverage.out
/testdata/logs/

# Example directory
/examples/logs/

# Vendor directory
/vendor/
